/node_modules
/dist

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/errored.tfstate
terraform/tfplan
terraform/plan
terraform/*plan*

.git
.vscode
coverage
.env

/notes