/node_modules
/dist

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/errored.tfstate
terraform/tfplan

.git
.vscode
coverage
.env

/notes